<div class="flex  h-full w-full  ">
    <div class="barra fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
        <div>
            <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2" />
        </div>
        <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9">
            <p class="mt-36"></p>
            <button class="flex flex-col items-center mt-64" (click)="logOut()"> 
                <img src="../../../assets/img/salida.png" class="w-60 h-auto transform hover:scale-110" />
                Cerrar Sesión
            </button>
        </div>
    </div>

    <div class="contenedor ml-32 flex h-full justify-center flex-grow items-center">
        <div class=" mt-10 xl:flex flex-col justify-between items-center bg-white w-nuehotel-w h-800 rounded-lg hidden">
            <p class="text-titulo text-2xl font-bold flex-grow-0 flex-shrink-0 mt-5">Registros de hoy</p>
            <div class="bg-white flex flex-col h-full overflow-auto">
                <div *ngFor="let registro of registros" class="mx-14 my-2 flex flex-col w-ficha-w h-ficha-h border border-black">
                    <div class="grid grid-cols-2 mt-2">
                        <p class="font-bold text-right pr-8">Ciudad:</p>
                        <p>{{registro.ciudad_huesped}}</p>
                        <p class="font-bold text-right pr-8">Motivo:</p>
                        <p>{{registro.motivo}}</p>
                        <p class="font-bold text-right pr-8">Fecha ingreso:</p>
                        <p>{{(registro.fecha_ingreso).substring(0,10)}}</p>
                        <p class="font-bold text-right pr-8">Fecha salida:</p>
                        <p>{{(registro.fecha_salida).substring(0,10)}}</p>
                        <p class="font-bold text-right pr-8">Habitación:</p>
                        <p>{{registro.tipo_habitacion}}</p>
                        <p class="font-bold text-right pr-8">Costo:</p>
                        <p>${{registro.costo_estancia}}</p>
                    </div>
                    <div class="flex justify-end -mt-9 mb-1">
                        <button (click)="actualizar(registro.id)" class="mr-3">
                            <img src="../../../assets/img/editar.png" class="w-8 h-auto hover:scale-105 transform">
                        </button>
                        <button (click)="eliminar(registro.id)" class="mr-3">
                            <img src="../../../assets/img/cerca.png" class="w-8 h-auto hover:scale-105 transform">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-16 mt-10 flex flex-col justify-start items-center bg-white w-500 h-800 rounded-lg">
            <p class="self-center text-titulo text-2xl font-bold flex-grow-0 flex-shrink-0 mt-5">Nuevo Registro</p>
            <div class="mx-14 my-10 flex flex-col w-72 h-800 ">
                <form action="insertar()" class="flex flex-col">
                    <div class="relative z-0 my-6">
                        <input type="text" id="ciudad" name="ciudad" [(ngModel)]="ciudad"
                            class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-verde peer"
                            placeholder=" " />
                        <label for="ciudad"
                            class="absolute block w-full text-base font-bold text-gray-900 duration-300 transform -translate-y-8  top-3 -z-10 origin-[0] peer-focus-within:left-0 peer-focus-within:text-verde peer-focus-within:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus-within:scale-75 peer-focus-within:-translate-y-10">
                            Ciudad de origen
                        </label>
                    </div>
                    <label for="motivo" class="mb-1 font-bold">Motivo de Visita</label>
                    <select id="motivo"
                        class="mb-5 border-0 border-b-2 border-gray-300 focus:border-verde peer-focus:text-verde"
                        name="motivo" [(ngModel)]="motivo">
                        <option value="-1"> Seleccione una opción</option>
                        <option *ngFor="let motivo of motivos" value="{{motivo.id}}"> {{motivo.motivo}} </option>
                    </select>
                    <label for="habitacion" class="mb-1 font-bold">Tipo de habitación</label>
                    <select id="habitacion"
                        class="mb-5 border-0 border-b-2 border-gray-300 focus:border-verde peer-focus:text-verde"
                        name="habitacion" [(ngModel)]="habitacion">
                        <option value="-1"> Seleccione un tipo de habitación</option>
                        <option *ngFor="let tipo of tipoHabitacion" value="{{tipo.fk_id_tipoHabitacion}}"> {{tipo.tipo_habitacion}} </option>
                    </select>

                    <label for="fecha_ingreso" class="mb-1 font-bold"> Fecha Ingreso </label>
                    <input type="date" id="fecha_ingreso" name="fecha_ingreso" [(ngModel)]="fecha_ingreso"
                        class="mb-5 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <label for="fecha_salida" class="mb-1 font-bold"> Fecha Salida </label>
                    <input type="date" id="fecha_salida" name="fecha_salida" [(ngModel)]="fecha_salida"
                        class="mb-5 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <button (click)="nuevoRegistro()"
                        class="mt-14 hover:bg-verde text-white text-xl px-10 py-1 rounded-lg bg-green-600 focus:border-verde ">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>