<div class="bg-verde w-full h-24 mb-10">
    <img src="../../../assets/img/logo.png " class="h-24">
</div>

<div class="flex h-64 justify-center  ">
    <div>
        <h1 class="text-titulo text-2xl  font-bold  mb-12 ml-48">Bienvenido a HotelAnalytics</h1>
        <div class="flex flex-col px-14 py-5  bg-white w-740 h-480 rounded-lg">
            <p class="text-2xl font-semibold mx-48">Define tu Contraseña </p>
            <div class="relative z-0 my-10">
                <input type="password" [(ngModel)]="newPassword" id="nuevacontra"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " />
                <label for="nuevacontra"
                    class="text-base font-semibold">
                    Nueva Contraseña</label>
            </div>
            <div class="relative z-0 my-5">
                <input type="password" [(ngModel)]="confirmNewPassword" id="repcontra"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " />
                <label for="repcontra"
                    class="absolute text-base font-semibold">
                    Repite tu contraseña</label>
                <button (click)="actualizarPassword()" class="bg-verde text-white text-2xl px-20 py-1 mt-24 mx-48">
                    Guardar
                </button>

            </div>
        </div>
    </div>