<div [ngClass]="{'bg-white': isPressed}" class="flex h-full w-full">
    <div class="barra no-print fixed z-50 bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
        <div>
            <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2">
        </div>
        <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9 ">
            <button (click)="habitaciones()" class="transform hover:scale-110">
                <img src="../../../assets/img/habitacion.png" class="w-60 h-auto">
            </button>
            <button (click)="micategoria()" class="transform hover:scale-110">
                <img src="../../../assets/img/grafico-de-barras.png" class="w-60 h-auto">
            </button>
            <button (click)="principal()" class="transform hover:scale-110">
                <img src="../../../assets/img/hotel.png" class="w-60 h-auto">
            </button>
            <button (click)="logOut()" class="flex flex-col items-center transform hover:scale-110">
                <img src="../../../assets/img/salida.png" class="w-60 h-auto">
                Cerrar Sesión
            </button>
        </div>
    </div>
    <div class="contenedor ml-32 flex h-full flex-col justify-center flex-grow items-center">
        <div class="mx-10 mt-10 mb-10 flex flex-col items-center bg-white w-4/5 min-w-min h-full rounded-lg">
            <h1 class="text-titulo text-2xl font-bold items-center mt-6">Gráficas de mi categoría</h1>
            <div [ngClass]="filtroConsulta !== -2 ? 'no-print flex flex-col justify-items-center grid-rows-3 gap-3 items-center mt-3' : 'no-print flex flex-col justify-items-center justify-center h-full grid-rows-3 gap-3 items-center mt-3'">
                <p *ngIf="filtroConsulta == -2" class="mx-32 text-2xl text-center font-semibold">
                    Lo sentimos, pero actualmente no tienes acceso a esta sección del programa. Esto se debe a que no has ingresado datos en los <span class="text-red-700">últimos 14 días</span>. Para proteger tu privacidad y seguridad, hemos restringido temporalmente el acceso a esta sección del programa. Para volver a acceder a esta sección, por favor ingresa nuevos datos en el formulario correspondiente.
                </p>
                <select *ngIf="filtroConsulta != -2" id="filtroConsulta" [(ngModel)]="filtroConsulta"
                    class="h-10 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <option value="-1" selected> Fecha de consulta</option>
                    <option value="1">Este día</option>
                    <option value="2">Este semana</option>
                    <option value="3">Este mes</option>
                    <option value="4">Personalizado
                </select>

                <div *ngIf="filtroConsulta==4" class="flex">
                    <div class="flex flex-col items-center">
                        <label for="fechaInicio" class=""> Fecha Inicio: </label>
                        <input type="date" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio"
                            class="mb-5 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    </div>
                    <div class="flex flex-col items-center">
                        <label for="fechaFin" class=""> Fecha Fin: </label>
                        <input type="date" id="fechaFin" name="fecha" [(ngModel)]="fechaFin"
                            class="mb-5 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    </div>
                </div>
            </div>
            <ul *ngIf="filtroConsulta != -1" class="no-print items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaMotivo" type="checkbox" [(ngModel)]="graficaMotivo" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaMotivo" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Motivos</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input checked id="graficaRegistros" type="checkbox" [(ngModel)]="graficaRegistros"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaRegistros" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Registros por Día</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaCiudades" type="checkbox" [(ngModel)]="graficaCiudades" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaCiudades" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ciudades</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaCostos" type="checkbox" [(ngModel)]="graficaCostos" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaCostos" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Costos</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaHabitacion" type="checkbox" [(ngModel)]="graficaHabitacion" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaHabitacion" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Habitacion</label>
                    </div>
                </li>
            </ul>
            <button *ngIf="filtroConsulta != -1 && filtroConsulta != -2" (click)="consultar()"
                class="no-print bg-verde text-white text-xl px-14 py-2 my-3 rounded-lg">
                Consultar
            </button>

            <div class="graficas">
                <div *ngIf="graficasVisibles==1 && graficaMotivo" class="motivo flex flex-col border-2 p-5">
                    <h2 class="block text-center font-bold">Motivos</h2>
                    <ngx-charts-bar-horizontal-2d 
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Motivos"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabelMotivo"
                    [yAxisLabel]="yAxisLabelMotivo"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-bar-horizontal-2d>
                </div>
                <div *ngIf="graficasVisibles==1 && graficaRegistros" class="registros nueva-pagina flex flex-col border-2 p-5">
                    <h2 class="block text-center font-bold">Registros</h2>
                    <ngx-charts-bar-horizontal-2d 
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi2"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Fechas"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="yAxisLabel2"
                    [yAxisLabel]="xAxisLabel2"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-bar-horizontal-2d>
                </div> 
                <div *ngIf="graficasVisibles==1 && graficaCiudades" class="ciudad nueva-pagina flex flex-col border-2 p-5">
                    <h2 class="block text-center font-bold">Ciudades</h2>
                    <ngx-charts-bar-horizontal-2d 
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="multi3"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Ciudades"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabelMotivo"
                    [yAxisLabel]="yAxisLabelMotivo"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-bar-horizontal-2d>
                </div>
                <div *ngIf="graficasVisibles==1 && graficaCostos" class="nueva-pagina flex flex-col border-2 p-5">
                    <h2 class="block text-center font-bold">Costos por habitación</h2>
                    <ngx-charts-bar-horizontal-2d
                        [view]="view"
                        [scheme]="colorScheme" 
                        [schemeType]="schemeType"
                        [results]="costos"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        legendTitle="Habitaciones"
                        [legendPosition]="legendPosition"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel4"
                        [yAxisLabel]="yAxisLabel4"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                        >
                    </ngx-charts-bar-horizontal-2d>
                </div>
                <div *ngIf="graficasVisibles==1 && graficaHabitacion" class="registrosHabitacion nueva-pagina flex flex-col border-2 p-5">
                    <h2 class="block text-center font-bold">Registros por habitaciones</h2>
                    <ngx-charts-bar-horizontal-2d 
                    [view]="view"
                    [scheme]="colorScheme"
                    [schemeType]="schemeType"
                    [results]="habitacions"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Tipo de habitaciones"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabelMotivo"
                    [yAxisLabel]="yAxisLabelMotivo"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                    </ngx-charts-bar-horizontal-2d>
                </div>
                
                <!-- Precio por tipo de habitación -->
            </div>
            <div *ngIf="graficasVisibles==1" class="flex justify-center items-baseline mt-2">
                <button (click)="imprimir()" class="no-print hover:bg-verde text-white text-xl px-10 py-1 rounded-lg bg-green-600 focus:border-verde ">
                    Generar PDF
                </button>
            </div>
        </div>
    </div>

</div>