<div class="flex h-full w-full overflow-auto">
    <div class="barra fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
        <div>
            <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2" />
        </div>
        <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9">
            <button (click)="principaldirector()">
                <img src="../../../assets/img/usuarios.png" class="w-60 h-auto">
            </button>
            <button class="">
                <img src="../../../assets/img/grafico-histograma.png" class="w-60 h-auto" />
            </button>
            <button (click)="logOut()" class="flex flex-col items-center">
                <img src="../../../assets/img/salida.png" class="w-60 h-auto" />
                Cerrar Sesión
            </button>
        </div>
    </div>

    <div class="contenedor ml-32 flex h-full justify-center flex-grow items-center">

        <div class="mx-16 mt-10 flex flex-col justify-start items-center  bg-white w-nuehotel-w h-800 rounded-lg">
            <p class="self-center text-titulo text-2xl font-bold flex-grow-0 flex-shrink-0 mt-5">
                Editar Hotel
            </p>
            <div class="mx-14 my-10 flex flex-col w-ficha-w h-800">
                <form>
                    <div class="relative z-0 my-7">
                        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" value="{{hotel.nombre}}"
                            class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
                            placeholder=" " />
                        <label for="nombre"
                            class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
                            Nombre
                        </label>
                    </div>
                    <div class="relative z-0 my-7">
                        <input type="text" id="direccion" name="direccion" [(ngModel)]="direccion"
                            value="{{hotel.direccion}}"
                            class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
                            placeholder=" " />
                        <label for="direccion"
                            class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
                            Dirección</label>
                    </div>
                    <div class="relative z-0 my-7">
                        <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono"
                            value="{{hotel.telefono}}" required
                            class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
                            placeholder=" " />
                        <label for="telefono"
                            class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
                            Teléfono</label>
                    </div>
                    <div class="relative z-0 my-7">
                        <input type="email" id="correo" name="correo" [(ngModel)]="correo" value="{{hotel.correo}}"
                            readonly
                            class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
                            placeholder=" " />
                        <label for="correo"
                            class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
                            Correo electrónico</label>
                    </div>

                    <label for="estrellas" class="mb-1">Estrellas</label>
                    <div class="selects grid">
                        <select id="estrellas"
                            class="mb-5 border-0 border-b-2 border-gray-300 focus:border-verde peer-focus:text-verde"
                            value="{{hotel.estrellas}}" name="estrellas" [(ngModel)]="estrellas">
                            <option value="-1" selected>Seleccionar</option>
                            <option value="1">1 Estrella</option>
                            <option value="2">2 Estrellas</option>
                            <option value="3">3 Estrellas</option>
                            <option value="4">4 Estrellas</option>
                            <option value="5">5 Estrellas</option>
                        </select>

                        <label for="estado" class="mb-1">Estado</label>
                        <select id="estado" value="{{hotel.activo}}"
                            class="mb-5 border-0 border-b-2 border-gray-300  focus:border-verde peer-focus:text-verde"
                            name="estado" [(ngModel)]="estado">
                            <option value="-1" selected>Seleccionar</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                    <div class="botones flex h-9 justify-center gap-4 items-center mt-10">
                        <button (click)="actualizar()"
                            class="hover:bg-verde text-white text-xl px-10 py-1 rounded-lg bg-green-600 focus:border-verde ">
                            Guardar
                        </button>
                        <a href="/principaldirector" class="flex justify-center text-xl text-slate-500 px-10 hover:text-slate-950"> Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>