<div class="flex h-full w-full overflow-auto">
  <div class="barra fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
    <div>
      <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2" />
    </div>
    <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9">
      <button class="">
        <img src="../../../assets/img/usuarios.png" class="w-60 h-auto" />
      </button>
      <button class="">
        <img src="../../../assets/img/grafico-histograma.png" class="w-60 h-auto" />
      </button>
      <button (click)="logOut()" class="flex flex-col items-center">
        <img src="../../../assets/img/salida.png" class="w-60 h-auto" />
        Cerrar Sesión
      </button>
    </div>
  </div>

  <div class="contenedor ml-32 flex h-full justify-center flex-grow items-center">
    <div
      class="ml-16 mt-10 xl:flex flex-col justify-between items-center bg-white w-nuehotel-w h-800 rounded-lg hidden">
      <p class="text-titulo text-2xl font-bold flex-grow-0 flex-shrink-0 mt-5">
        Asociados
      </p>
      <div class="asociados bg-white flex flex-col h-full overflow-auto">
        <div *ngFor="let hotel of listHotel"
          class="hotel mx-14 my-5 flex flex-col w-ficha-w h-ficha-h border border-black items-center">
          <h1 class="font-bold  mt-2">{{hotel.nombre}}</h1>
          <div class="estrellas flex my-2">
            <svg *ngFor="let i of [1, 2, 3, 4, 5]" fill="currentColor"
              [ngClass]="{'text-yellow-500 fill-current': i <= hotel.estrellas, 'fill-none stroke-current stroke-2': i > hotel.estrellas}"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              class="w-6 h-6 text-yellow-500">
              <path fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <h1 class="font-regular my-5">{{hotel.direccion}}</h1>
          <div class="flex">
            <div
              [ngClass]="{'text-green-600 font-bold text-base ml-2' : hotel.activo==1, 'text-red-700 font-bold text-base ml-2' : hotel.activo==0}"
              class="">
              <h1 [textContent]=" hotel.activo == 0 ? 'Inactivo' : 'Activo'"></h1>
            </div>
            <h1 class="font-bold text-base ml-28">Última modificación:</h1>
            <h1 class="ml-1">14 dias</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-16 mt-10 flex flex-col justify-start items-center  bg-white w-nuehotel-w h-800 rounded-lg">
      <p class="self-center text-titulo text-2xl font-bold flex-grow-0 flex-shrink-0 mt-5">
        Nuevo Hotel
      </p>
      <div class="mx-14 my-10 flex flex-col w-ficha-w h-800">
        <form action="insertar()">
          <div class="relative z-0 my-6">
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre"
              class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
              placeholder=" " />
            <label for="nombre"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
              Nombre
            </label>
          </div>
          <div class="relative z-0 my-6">
            <input type="text" id="direccion" name="direccion" [(ngModel)]="direccion"
              class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
              placeholder=" " />
            <label for="direccion"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
              Dirección</label>
          </div>
          <div class="relative z-0 my-6">
            <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" required
              class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
              placeholder=" " />
            <label for="telefono"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
              Teléfono</label>
          </div>
          <div class="relative z-0 my-6">
            <input type="email" id="correo" name="correo" [(ngModel)]="correo"
              class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
              placeholder=" " />
            <label for="correo"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-verde peer-focus:dark:text-verde peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-10">
              Correo electrónico</label>
          </div>

          <label for="estrellas" class="mb-1">Estrellas</label>
          <div class="selects grid">
            <select id="estrellas"
              class="mb-5 border-0 border-b-2 border-gray-300 focus:border-verde peer-focus:text-verde" name="estrellas"
              [(ngModel)]="estrellas">
              <option value="-1" selected>Seleccionar</option>
              <option value="1">1 Estrella</option>
              <option value="2">2 Estrellas</option>
              <option value="3">3 Estrellas</option>
              <option value="4">4 Estrellas</option>
              <option value="5">5 Estrellas</option>
            </select>

            <label for="estado" class="mb-1">Estado</label>
            <select id="estado"
              class="mb-5 border-0 border-b-2 border-gray-300  focus:border-verde peer-focus:text-verde" name="estado"
              [(ngModel)]="estado">
              <option value="-1" selected>Seleccionar</option>
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>
          <div class=" flex justify-center">
            <button (click)="insertar()" type="submit"
              class="bg-verde text-white text-2xl px-20 py-1 mt-14 rounded-lg  focus:border-verde ">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>