<div class="flex h-full w-full">
  <div
    class="barra fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1"
  >
    <div>
      <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2" />
    </div>
    <div
      class="botones flex flex-col justify-between items-center h-full flex-grow mt-9"
    >
      <button class="">
        <img src="../../../assets/img/usuarios.png" class="w-60 h-auto" />
      </button>
      <button class="">
        <img
          src="../../../assets/img/grafico-histograma.png"
          class="w-60 h-auto"
        />
      </button>
      <button (click)="logOut()" class="flex flex-col items-center">
        <img src="../../../assets/img/salida.png" class="w-60 h-auto" />
        Cerrar Sesión
      </button>
    </div>
  </div>

  <div
    class="contenedor ml-32 flex h-full justify-center flex-grow items-center">
    <div
      class="ml-16 mt-10 flex flex-col justify-between items-center bg-white w-nuehotel-w h-800 rounded-lg"
    >
      <p class="text-titulo text-2xl font-bold flex-grow-0 flex-shrink-0 mt-5">
        Asociados
      </p>
      <div class="asociados bg-white flex flex-col h-full overflow-auto">
        <div
          class="hotel mx-14 my-5 flex flex-col w-ficha-w h-ficha-h border border-black items-center">
          <h1 class="font-bold mx-36 mt-2">Hotel Palomas</h1>
          <img src="../../../assets/img/estrellas.png" class="mx-32 w-36 h-32 -my-10"/>
          <h1 class="font-bold mx-24 mb-12">Av. Insurgentes No.1100 ote</h1>
          <div class="flex">
            <h1 class="text-verde font-bold text-base ml-2">Activo</h1>
            <h1 class="font-bold text-base ml-28">Última modificación:</h1>
            <h1 class="ml-1">14 dias</h1>
          </div>
        </div>
        <div
          class="hotel mx-14 my-5 flex flex-col w-ficha-w h-ficha-h border border-black items-center">
          <h1 class="font-bold mx-36 mt-2">Hotel Palomas</h1>
          <img src="../../../assets/img/estrellas.png" class="mx-32 w-36 h-32 -my-10"/>
          <h1 class="font-bold mx-24 mb-12">Av. Insurgentes No.1100 ote</h1>
          <div class="flex">
            <h1 class="text-verde font-bold text-base ml-2">Activo</h1>
            <h1 class="font-bold text-base ml-28">Última modificación:</h1>
            <h1 class="ml-1">14 dias</h1>
          </div>
        </div>
        <div
          class="hotel mx-14 my-5 flex flex-col w-ficha-w h-ficha-h border border-black items-center">
          <h1 class="font-bold mx-36 mt-2">Hotel Palomas</h1>
          <img src="../../../assets/img/estrellas.png" class="mx-32 w-36 h-32 -my-10"/>
          <h1 class="font-bold mx-24 mb-12">Av. Insurgentes No.1100 ote</h1>
          <div class="flex">
            <h1 class="text-verde font-bold text-base ml-2">Activo</h1>
            <h1 class="font-bold text-base ml-28">Última modificación:</h1>
            <h1 class="ml-1">14 dias</h1>
          </div>
        </div>
      </div>
    </div>

    <div
      class="mx-16 mt-10 flex flex-col justify-start items-center  bg-white w-nuehotel-w h-800 rounded-lg" >
      <p
        class="self-center text-titulo text-2xl font-bold flex-grow-0 flex-shrink-0 mt-5">
        Nuevo Hotel
      </p>
      <div class="mx-14 my-10 flex flex-col w-ficha-w h-800">
        <form action="insertar()">
          <div class="relative z-0 my-5">
            <input
              type="text"
              id="nombre"
              name="nombre"
              [(ngModel)]="nombre"
              class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="nombre"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Nombre
            </label>
          </div>
          <div class="relative z-0 my-5">
            <input
              type="text"
              id="direccion"
              name="direccion"
              [(ngModel)]="direccion"
              class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="direccion"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Dirección</label
            >
          </div>
          <div class="relative z-0 my-5">
            <input
              type="text"
              id="telefono"
              name="telefono"
              [(ngModel)]="telefono"
              required
              class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="telefono"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Teléfono</label
            >
          </div>
          <div class="relative z-0 my-5">
            <input
              type="email"
              id="correo"
              name="correo"
              [(ngModel)]="correo"
              class="block py-2.5 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
            />
            <label
              for="correo"
              class="absolute text-base text-gray-900 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              Correo electrónico</label
            >
          </div>

          <label for="estrellas" class="mb-1">Estrellas</label>
          <div class="selects grid">
            <select
              id="estrellas"
              class="mb-5 border-0 border-b-2 border-gray-300"
              name="estrellas"
              [(ngModel)]="estrellas"
            >
              <option value="-1" selected>Seleccionar</option>
              <option value="1">1 Estrella</option>
              <option value="2">2 Estrellas</option>
              <option value="3">3 Estrellas</option>
              <option value="4">4 Estrellas</option>
              <option value="5">5 Estrellas</option>
            </select>

            <label for="estado" class="mb-1">Estado</label>
            <select
              id="estado"
              class="mb-5 border-0 border-b-2 border-gray-300"
              name="estado"
              [(ngModel)]="estado"
            >
              <option value="-1" selected>Seleccionar</option>
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>
          <div class=" flex justify-center">
              <button
              (click)="insertar()"
              type="submit"
              class="bg-verde text-white text-2xl px-20 py-1 mt-14 rounded-lg "
              >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
