<div>
    <div class="barra fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
        <div>
            <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2">
        </div>
        <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9">
            <button (click)="principaldirector()">
                <img src="../../../assets/img/usuarios.png" class="w-60 h-auto transform hover:scale-110">
            </button>
            <button >
                <img src="../../../assets/img/grafico-histograma.png" class="w-60 h-auto transform hover:scale-110">
            </button>
            <button (click)="logOut()" class="flex flex-col items-center">
                <img src="../../../assets/img/salida.png" class="w-60 h-auto transform hover:scale-110">
                Cerrar Sesión
            </button>
        </div>
    </div>

    <div class="contenedor h-screen  ml-32 flex flex-col justify-center flex-grow items-center">
        <h1 class="text-titulo text-2xl font-bold items-center mt-6 mb-3">Gráficas Generales</h1>
        <div class="flex flex-col items-center mb-20 bg-white w-4/5 rounded-lg h-full overflow-auto">
            <select [(ngModel)]="tipoGrafica" id="tipoGrafica" name="tipoGrafica"
                class="my-10 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                <option value="-1"> Seleccione un tipo de gráfica </option>
                <option value="1"> Gráficas Generales </option>
                <option value="2">Gráficas por hotel</option>
            </select>

            <div *ngIf="tipoGrafica != '-1'" class="flex justify-center items-start mb-3">
                <select [(ngModel)]="fechaSelect" id="fechaconsulta" name="fechaSelect"
                    class="mr-6 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <option value="-1" selected> Fecha de consulta</option>
                    <option value="1">Este día</option>
                    <option value="2">Esta semana</option>
                    <option value="3">Este mes</option>
                    <option value="4">Personalizado
                </select>

                <div *ngIf="fechaSelect == '4'" class="flex flex-col">
                    <div class="">
                        <label for="fechainicio"> Fecha Inicio: </label>
                        <input type="date" id="fechainicio" name="fecha_inicio" [(ngModel)]="fechaInicio"
                            class="mr-6 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    </div>
                    <div class="mt-4">
                        <label for="fechafin" class=""> Fecha Fin: </label>
                        <input type="date" id="fechafin" name="fecha_fin" [(ngModel)]="fechaFin"
                            class="-mr-12 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    </div>
                </div>

                <select *ngIf="tipoGrafica == '1'" id="estrellas" name="estrellas" [(ngModel)]="estrellas"
                    class="border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <option value="-1" selected> Tipo de hotel</option>
                    <option value="0">Todos</option>
                    <option value="1"> 1 estrellas </option>
                    <option value="2"> 2 estrellas </option>
                    <option value="3"> 3 estrellas </option>
                    <option value="4"> 4 estrellas </option>
                    <option value="5"> 5 estrellas </option>
                </select>

                <select *ngIf="tipoGrafica == '2'" id="id_hotel" name="id_hotel" [(ngModel)]="idHotel"
                    class="border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <option value="-1" selected> Seleccione un Hotel </option>
                    <option *ngFor="let hotel of hoteles" [value]="hotel.id">{{hotel.nombre}}</option>
                </select>
            </div>
            <button (click)="consultar()" class="bg-verde text-white text-xl px-14 py-2 my-3 rounded-lg">
                Consultar
            </button>
            <!-- Gráficas generales -->
            <div *ngIf="mostrarGraficas=='generales'" class="motivo flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Motivos</h2>
                <ngx-charts-bar-vertical-2d
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="motivos"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Motivos"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel1"
                    [yAxisLabel]="yAxisLabel1"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-vertical-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales'" class="fechasDeRegistros flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Registros</h2>
                <ngx-charts-bar-vertical-2d 
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="registross"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Fechas de registros"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel2"
                    [yAxisLabel]="yAxisLabel2"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-vertical-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales'" class="ciudades flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Ciudades</h2>
                <ngx-charts-bar-vertical-2d 
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="ciudadess"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Ciudades"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel3"
                    [yAxisLabel]="yAxisLabel3"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-vertical-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales'" class="costos flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Costos por habitación</h2>
                <ngx-charts-bar-vertical-2d
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="costoss"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Habitaciones"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel4"
                    [yAxisLabel]="yAxisLabel4"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-vertical-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales'" class="registrosPorHabitacion flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Registros por habitaciones</h2>
                <ngx-charts-bar-vertical-2d *ngIf="motivo" class="mb-10"
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="datosHabitaciones"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Habitaciones"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel5"
                    [yAxisLabel]="yAxisLabel5"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-vertical-2d>
            </div>

            <!-- Gráficas por hotel -->
            <div *ngIf="mostrarGraficas=='individuales'" class="motivo flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Motivos</h2>
                <ngx-charts-advanced-pie-chart
                    [view]="view" 
                    [scheme]="colorScheme" 
                    [results]="motivosHotel"
                    [gradient]="gradient" 
                    (select)="onSelect($event)" 
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-advanced-pie-chart>
            </div>
            
            <div *ngIf="mostrarGraficas=='individuales'" class="ciudades flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Ciudades</h2>
                <ngx-charts-advanced-pie-chart 
                    [view]="view" 
                    [scheme]="colorScheme" 
                    [results]="ciudadesHotel"
                    [gradient]="gradient" 
                    (select)="onSelect($event)" 
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-advanced-pie-chart>
            </div>

            <div *ngIf="mostrarGraficas=='individuales'" class="registros flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Registros</h2> <!-- Mostrar los registros por día -->
                <ngx-charts-bar-vertical-2d 
                    [view]="view"
                    scheme="cool"
                    [scheme]="colorScheme"
                    [results]="registrosHotel"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabelR"
                    [yAxisLabel]="yAxisLabelR"
                    [roundDomains]="roundDomains"
                    [legendTitle]="legendTitleR"
                    [showDataLabel]="showDataLabel"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-vertical-2d>
            </div>

        <div *ngIf="mostrarGraficas=='individuales'" class="habitacionesReservadas flex flex-col border-2 p-5">
            <h2 class="block text-center font-bold">Habitaciones reservadas</h2>
            <ngx-charts-advanced-pie-chart 
                [view]="view" 
                [scheme]="colorScheme" 
                [results]="habitacionHotel"
                [gradient]="gradient" 
                (select)="onSelect($event)" 
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-advanced-pie-chart>
        </div>

        <button *ngIf="motivo || motivoH" class="bg-verde text-white text-2xl px-20 py-2 mt-8 rounded-lg">
            Generar PDF
        </button>
    </div>
</div>