<div [ngClass]="{'bg-white': isPressed}" class="h-full mt-3">
    <div class="no-print fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
        <div>
            <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2">
        </div>
        <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9">
            <button (click)="principaldirector()">
                <img src="../../../assets/img/usuarios.png" class="w-60 h-auto transform hover:scale-110">
            </button>
            <button >
                <img src="../../../assets/img/grafico-histograma.png" class="w-60 h-auto transform hover:scale-110">
            </button>
            <button (click)="logOut()" class="flex flex-col items-center">
                <img src="../../../assets/img/salida.png" class="w-60 h-auto transform hover:scale-110">
                Cerrar Sesión
            </button>
        </div>
    </div>

    <div class="contenedor h-screen  ml-32 flex flex-col justify-center flex-grow items-center">
        <div [ngClass]="{'min-h-screen': isPressed, 'h-4/5': !isPressed}" class="recuadro flex flex-col items-center bg-white w-4/5 rounded-lg">
            <h1 class="text-titulo text-2xl font-bold items-center mt-6 mb-3">Gráficas Generales</h1>
            <select [(ngModel)]="tipoGrafica" id="tipoGrafica" name="tipoGrafica"
                class="no-print my-8 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                <option value="-1"> Seleccione un tipo de gráfica </option>
                <option value="1"> Gráficas Generales </option>
                <option value="2">Gráficas por hotel</option>
            </select>

            <div *ngIf="tipoGrafica != '-1'" class="flex justify-center items-start mb-3">
                <select [(ngModel)]="fechaSelect" id="fechaconsulta" name="fechaSelect"
                    class="no-print mr-6 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <option value="-1" selected> Fecha de consulta</option>
                    <option value="1">Este día</option>
                    <option value="2">Esta semana</option>
                    <option value="3">Este mes</option>
                    <option value="4">Personalizado
                </select>

                <div *ngIf="fechaSelect == '4'" class="no-print flex flex-col">
                    <div>
                        <label for="fechainicio"> Fecha Inicio: </label>
                        <input type="date" id="fechainicio" name="fecha_inicio" [(ngModel)]="fechaInicio"
                            class="mr-6 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    </div>
                    <div class="mt-4">
                        <label for="fechafin"> Fecha Fin: </label>
                        <input type="date" id="fechafin" name="fecha_fin" [(ngModel)]="fechaFin"
                            class="-mr-12 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    </div>
                </div>

                <select *ngIf="tipoGrafica == '1'" id="estrellas" name="estrellas" [(ngModel)]="estrellas"
                    class="no-print border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <option value="-1" selected> Tipo de hotel</option>
                    <option value="0">Todos</option>
                    <option value="1"> 1 estrellas </option>
                    <option value="2"> 2 estrellas </option>
                    <option value="3"> 3 estrellas </option>
                    <option value="4"> 4 estrellas </option>
                    <option value="5"> 5 estrellas </option>
                </select>

                <select *ngIf="tipoGrafica == '2'" id="id_hotel" name="id_hotel" [(ngModel)]="idHotel"
                    class="no-print border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                    <option value="-1" selected> Seleccione un Hotel </option>
                    <option *ngFor="let hotel of hoteles" [value]="hotel.id">{{hotel.nombre}}</option>
                </select>
            </div>
            <ul *ngIf="tipoGrafica != '-1'" class="no-print items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaMotivo" type="checkbox" [(ngModel)]="graficaMotivo" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaMotivo" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Motivos</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input checked id="graficaRegistros" type="checkbox" [(ngModel)]="graficaRegistros"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaRegistros" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Registros por Día</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaCiudades" type="checkbox" [(ngModel)]="graficaCiudades" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaCiudades" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ciudades</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaCostos" type="checkbox" [(ngModel)]="graficaCostos" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaCostos" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Costos</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center pl-3">
                        <input id="graficaHabitacion" type="checkbox" [(ngModel)]="graficaHabitacion" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="graficaHabitacion" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Habitacion</label>
                    </div>
                </li>
            </ul>
            <button (click)="consultar()" class="no-print bg-verde text-white text-xl px-14 py-2 my-3 rounded-lg">
                Consultar
            </button>
            <!-- Gráficas generales -->
            <div *ngIf="mostrarGraficas == 'generales' && graficaMotivo" class="motivo flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Motivos</h2>
                <ngx-charts-bar-horizontal-2d
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="motivos"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Motivos"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel1"
                    [yAxisLabel]="yAxisLabel1"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-horizontal-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales' && graficaRegistros" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Registros por día</h2>
                <ngx-charts-bar-horizontal-2d 
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="registross"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Fechas de registros"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel2"
                    [yAxisLabel]="yAxisLabel2"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-horizontal-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales' && graficaCiudades" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Ciudades</h2>
                <ngx-charts-bar-horizontal-2d 
                    [view]="viewCiudades"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="ciudadess"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Ciudades"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel3"
                    [yAxisLabel]="yAxisLabel3"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-horizontal-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales' && graficaCostos" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Costos por habitación</h2>
                <ngx-charts-bar-horizontal-2d
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="costoss"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Habitaciones"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel4"
                    [yAxisLabel]="yAxisLabel4"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-horizontal-2d>
            </div>
            <div *ngIf="mostrarGraficas=='generales' && graficaHabitacion" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Registros por habitaciones</h2>
                <ngx-charts-bar-horizontal-2d *ngIf="motivo" class="mb-10"
                    [view]="view"
                    [scheme]="colorScheme" 
                    [schemeType]="schemeType"
                    [results]="datosHabitaciones"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Habitaciones"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel5"
                    [yAxisLabel]="yAxisLabel5"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-horizontal-2d>
            </div>

            <!-- Gráficas por hotel -->
            <div *ngIf="mostrarGraficas=='individuales' && graficaMotivo" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Motivos</h2>
                <ngx-charts-advanced-pie-chart
                    [view]="viewCircular" 
                    [scheme]="colorScheme" 
                    [results]="motivosHotel"
                    [gradient]="gradient" 
                    (select)="onSelect($event)" 
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-advanced-pie-chart>
            </div>
            
            <div *ngIf="mostrarGraficas=='individuales' && graficaCiudades" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Ciudades</h2>
                <ngx-charts-advanced-pie-chart 
                    [view]="viewCircular" 
                    [scheme]="colorScheme" 
                    [results]="ciudadesHotel"
                    [gradient]="gradient" 
                    (select)="onSelect($event)" 
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-advanced-pie-chart>
            </div>

            <div *ngIf="mostrarGraficas=='individuales' && graficaRegistros" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Registros por día</h2> <!-- Mostrar los registros por día -->
                <ngx-charts-bar-horizontal-2d 
                    [view]="viewRegistros"
                    scheme="cool"
                    [scheme]="colorScheme"
                    [results]="registrosHotel"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showDataLabel]="showDataLabel"
                    [legendPosition]="legendPosition"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabelR"
                    [yAxisLabel]="yAxisLabelR"
                    [roundDomains]="roundDomains"
                    [legendTitle]="legendTitleR"
                    [showDataLabel]="showDataLabel"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
                    >
                </ngx-charts-bar-horizontal-2d>
            </div>

            <div *ngIf="mostrarGraficas=='individuales' && graficaHabitacion" class="nueva-pagina flex flex-col border-2 p-5">
                <h2 class="block text-center font-bold">Habitaciones reservadas</h2>
                <ngx-charts-advanced-pie-chart 
                    [view]="viewCircular" 
                    [scheme]="colorScheme" 
                    [results]="habitacionHotel"
                    [gradient]="gradient" 
                    (select)="onSelect($event)" 
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                </ngx-charts-advanced-pie-chart>
            </div>

            <button (click)="imprimir()" *ngIf="motivo || motivoH" class="no-print bg-verde text-white text-2xl px-20 py-2 my-8 rounded-lg">
                Generar PDF
            </button>
        </div>
    </div>
</div>