<div class="flex  h-full w-full  ">
    <div class="barra fixed z-50 bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
        <div>
            <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2">
        </div>
        <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9 ">
            <button (click)="habitaciones()" class="transform hover:scale-110">
                <img src="../../../assets/img/habitacion.png" class="w-60 h-auto">
            </button>
            <button (click)="micategoria()" class="transform hover:scale-110">
                <img src="../../../assets/img/grafico-de-barras.png" class="w-60 h-auto">
            </button>
            <button (click)="principal()" class="transform hover:scale-110">
                <img src="../../../assets/img/hotel.png" class="w-60 h-auto">
            </button>
            <button (click)="logOut()" class="flex flex-col items-center transform hover:scale-110">
                <img src="../../../assets/img/salida.png" class="w-60 h-auto">
                Cerrar Sesión
            </button>
        </div>
    </div>
    <div class="contenedor ml-32 flex h-full justify-center flex-grow items-center">
        <div class=" fixed flex flex-col items-center justify-evenly bg-white w-auto h-asociados rounded-lg  p-5">
            <h1 class=" text-titulo text-2xl mt-5 font-bold  flex-grow-0 flex-shrink-0">Datos del hotel</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full items-center gap-4 justify-items-center ">
                <p class="font-bold">Nuevo Tipo de habitación</p>
                <input type="text" id="nuevoTipoHabitacion" name="nuevoTipoHabitacion" [(ngModel)]="nuevoTipoHabitacion"
                    class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer"
                    placeholder=" " />
                <button (click)="nuevo_tipo_habitacion()" class="bg-verde text-white text-xl px-14 py-2 my-3 rounded-lg col-span-2 lg:col-span-1 lg:w-3/4 w-full ">
                    Agregar
                </button>
            </div>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Tipo de habitación
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cantidad
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Precio
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let habitacion of listaHabitaciones" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{habitacion.tipo_habitacion}}
                            </th>
                            <td class="px-6 py-4">
                                {{habitacion.cantidad}}
                            </td>
                            <td class="px-6 py-4">
                                $ {{habitacion.precio}}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <button (click)="actualizar(habitacion.id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid md:grid-cols-2 lg:grid-cols-4 mt-32 w-full gap-4">
                <div class="">
                    <p class="font-bold">Tipo de habitación</p>
                    <select id="tipoHabitacion" [(ngModel)]="tipoHabitacion"
                        class="block w-full h-10 border-2 rounded-md border-gray-300 p-1 focus:border-verde peer-focus:text-verde">
                        <option value="-1" selected> Seleccione un tipo de habitación </option>
                        <option *ngFor="let tipo of listaTipoHabitacion" value="{{tipo.id}}" selected> {{tipo.tipo_habitacion}} </option>
                    </select>
                </div>
                <div class="">
                    <label for="cantidad" class="font-bold">Cantidad existente</label>
                    <input type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad"
                        class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer">
                </div>
                <div class="">
                    <label for="costo" class="font-bold text-center">Precio</label>
                    <input type="number" id="costo" name="costo" [(ngModel)]="costo"
                        class="block py-1 px-0 w-full text-base text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-verde peer">
                </div>
                <button (click)="guardar()" class="bg-verde text-white text-xl px-14 py-2 my-3 rounded-lg">
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>