
<div class="flex  h-full w-full  ">
    <div class="barra fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
        <div>
            <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2" />
        </div>
        <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9">
          <p class="mt-36"></p>
            <button class="flex flex-col items-center mt-64">
                <img src="../../../assets/img/salida.png" class="w-60 h-auto" />
                Cerrar Sesión
            </button>
        </div>
    </div>



    <div class="ml-48 mt-10 flex flex-col justify-between items-center bg-white  w-nuehotel-w h-800 rounded-lg">
        <p class="text-titulo text-2xl  font-bold  flex-grow-0 flex-shrink-0 ">Registros de hoy</p>
        <div class="bg-white grid grid-cols-1 w-nuehotel-w h-asosia-h  overflow-auto ">
            <div class=" mx-14 my-2 flex flex-col  w-ficha-w h-ficha-h border border-black">
                <div class="grid grid-cols-2 ml-16 mt-2">
                    <p class="font-bold">Ciudad:</p>
                    <p>Tepic</p>
                    <p class="font-bold">Motivo:</p>
                    <p>Negocios</p>
                    <p class="font-bold">Días:</p>
                    <p>1</p>
                    <p class="font-bold">Habitación:</p>
                    <p>Simple</p>
                    <p class="font-bold">Costo:</p>
                    <p>$1000</p>
                </div>

                <div class="flex mt-7 justify-end">
                    <button class="mr-3">
                        <img src="../../../assets/img/editar.png" class="w-10 h-auto">
                    </button>
                    <button class="mr-3">
                        <img src="../../../assets/img/cerca.png" class="w-10 h-auto">
                    </button>
                </div>

            </div>
            <div class=" mx-14 my-2 flex flex-col  w-ficha-w h-ficha-h border border-black">
                <div class="grid grid-cols-2 ml-16 mt-2">
                    <p class="font-bold">Ciudad:</p>
                    <p>Tepic</p>
                    <p class="font-bold">Motivo:</p>
                    <p>Negocios</p>
                    <p class="font-bold">Días:</p>
                    <p>1</p>
                    <p class="font-bold">Habitación:</p>
                    <p>Simple</p>
                    <p class="font-bold">Costo:</p>
                    <p>$1000</p>
                </div>

                <div class="flex mt-7 justify-end">
                    <button class="mr-3">
                        <img src="../../../assets/img/editar.png" class="w-10 h-auto">
                    </button>
                    <button class="mr-3">
                        <img src="../../../assets/img/cerca.png" class="w-10 h-auto">
                    </button>
                </div>

            </div>
            <div class=" mx-14 my-2 flex flex-col  w-ficha-w h-ficha-h border border-black">
                <div class="grid grid-cols-2 ml-16 mt-2">
                    <p class="font-bold">Ciudad:</p>
                    <p>Tepic</p>
                    <p class="font-bold">Motivo:</p>
                    <p>Negocios</p>
                    <p class="font-bold">Días:</p>
                    <p>1</p>
                    <p class="font-bold">Habitación:</p>
                    <p>Simple</p>
                    <p class="font-bold">Costo:</p>
                    <p>$1000</p>
                </div>

                <div class="flex mt-7 justify-end">
                    <button class="mr-3">
                        <img src="../../../assets/img/editar.png" class="w-10 h-auto">
                    </button>
                    <button class="mr-3">
                        <img src="../../../assets/img/cerca.png" class="w-10 h-auto">
                    </button>
                </div>

            </div>
            <div class=" mx-14 my-2 flex flex-col  w-ficha-w h-ficha-h border border-black">
                <div class="grid grid-cols-2 ml-16 mt-2">
                    <p class="font-bold">Ciudad:</p>
                    <p>Tepic</p>
                    <p class="font-bold">Motivo:</p>
                    <p>Negocios</p>
                    <p class="font-bold">Días:</p>
                    <p>1</p>
                    <p class="font-bold">Habitación:</p>
                    <p>Simple</p>
                    <p class="font-bold">Costo:</p>
                    <p>$1000</p>
                </div>

                <div class="flex mt-7 justify-end">
                    <button class="mr-3">
                        <img src="../../../assets/img/editar.png" class="w-10 h-auto">
                    </button>
                    <button class="mr-3">
                        <img src="../../../assets/img/cerca.png" class="w-10 h-auto">
                    </button>
                </div>

            </div>


        </div>


    </div>

    <div class="mx-16 mt-10 flex flex-col justify-start items-baseline bg-white  w-nuehotel-w h-800 rounded-lg">
        <p class="self-center text-titulo text-2xl  font-bold  flex-grow-0 flex-shrink-0 ">Editar Registro</p>
        <div class="mx-14 my-10 flex flex-col  w-ficha-w h-800 ">
            <div class="relative z-0 my-5">
                <input type="text" id="ciudad"
                    class=" block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " />
                <label for="ciudad"
                    class=" absolute text-xl text-black font-bold  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                    Ciudad de visita </label>

            </div>
            <p class="text-base ml-4 font-bold">Motivo de Visita</p>
            <select id="estrellas" class="mb-5 ml-3">
                <option value="opcion1" selected> Negocios</option>
                <option value="opcion2">Vacaciones</option>
                <option value="opcion3">Eventos especiales</option>
                <option value="opcion4">Turismo</option>
                <option value="opcion5">Visitas familiares o amigos</option>
            </select>
            <p class="text-base ml-4 font-bold mt-28 ">Días de estancia</p>
            <input type="text" id="estancia" name="estancia " class="ml-3 border border-black rounded-md">
            <p class="text-base ml-4 font-bold mt-3 ">Costo de estancia</p>
            <input type="text" id="cosestancia" name="cosestancia " class="ml-3 border border-black rounded-md">
            <p class="text-base ml-4 font-bold mt-3 ">Tipo de habitación</p>
            <select id="tiphabita" class="mb-5 ml-3">
                <option value="opcion1" selected> Simple</option>
                <option value="opcion2">Doble</option>
                <option value="opcion3">Suite</option>
            </select>
            <button  class="mt-14 hover:bg-verde text-white text-xl px-10 py-1 rounded-lg bg-green-600 focus:border-verde ">
                Guardar
            </button>
              


        </div>



    </div>

</div>