<div class="barra fixed bg-white border-r-2 w-32 flex flex-col border-verde items-center min-h-screen flex-1">
    <div>
        <img src="../../../assets/img/logo.jpeg" class="w-auto h-24 mt-2">
    </div>
    <div class="botones flex flex-col justify-between items-center h-full flex-grow mt-9">
        <button class="">
            <img src="../../../assets/img/usuarios.png" class="w-60 h-auto">
        </button>
        <button class="">
            <img src="../../../assets/img/grafico-histograma.png" class="w-60 h-auto">
        </button>
        <button (click)="logOut()" class="flex flex-col items-center">
            <img src="../../../assets/img/salida.png" class="w-60 h-auto">
            Cerrar Sesión
        </button>
    </div>
</div>


<div class="contenedor  ml-32 flex h-full justify-center flex-grow items-center">
    <div class=" mx-10 fixed flex flex-col justify-between items-center  bg-white  w-auto h-asociados rounded-lg">
        <p class="text-titulo text-2xl mt-5 font-bold  flex-grow-0 flex-shrink-0 ">Asociados</p>
        <div class="asociados bg-white grid xl:grid-cols-2 overflow-auto">
            <div *ngFor="let hotel of listHotel" (click)="editar(4)" [routerLink]="['/editarhotel']" [queryParams]="{ id: 4}"
                class="hotel mx-14 my-5 flex flex-col w-ficha-w h-ficha-h border border-black items-center">
                <h1 class="font-bold mx-36 mt-2">{{hotel.nombre}}</h1>
                <div class="estrellas flex my-2">
                    <svg *ngFor="let i of [1, 2, 3, 4, 5]" fill="currentColor"
                        [ngClass]="{'text-yellow-500 fill-current': i <= hotel.estrellas, 'fill-none stroke-current stroke-2': i > hotel.estrellas}"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="w-6 h-6 text-yellow-500">
                        <path fill-rule="evenodd"
                            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <h1 class="font-regular my-5">{{hotel.direccion}}</h1>
                <div class="flex">
                    <h1 class="text-verde font-bold text-base ml-2">Activo</h1>
                    <h1 class="font-bold text-base ml-28">Última modificación:</h1>
                    <h1 class="ml-1">14 dias</h1>
                </div>
            </div>

        </div>
        <button class="my-5" (click)="nuevo()">
            <img src="../../../assets/img/agregar.png" class="w-60 h-58 flex-grow-0 flex-shrink-0">
        </button>

    </div>
</div>